<%= simple_form_for(@product, :html => { :multipart => true }) do |f| %>
	<%= f.error_notification %>

<div class="form-inputs">
	<%= f.input :p_name, placeholder: "Produktnavn", :autofocus => true %>
	<%= f.input :p_anr, placeholder: "Artikkelnummer" %>
	<%= f.input :p_about, as: :text, placeholder: "Om produktet", :cols => '5x10' %>
	<%= f.input :p_price, placeholder: "Pris" %>
	<%= f.input :stock, as: :select %>
	<%= f.input :qty, placeholder: "Antall på lager" %>
	<%= f.input :avatar, as: :file %>
	<%= f.association :category, :collection => Category.all, :label_method => :c_name, :value_method => :id %>
</div>
<br/>
<div class="actions">
	<%= f.submit "Legg til", :class => "btn btn-primary btn-small" %>
</div>
<% end %>
