<div class="content">
	
	<h2><%= @product.p_name %></h2>
	<br/>
	<div class="wrap_image">
		<%= image_tag "320x320.gif" %>
		<p>
			<%= @product.p_about %><br/>
			Kr. <%= @product.p_price %>
		</p>
	</div>
	<br/>
	<div class="image_feed">
		<%= image_tag "150x150.gif" %>
		<%= image_tag "150x150.gif" %>
		<%= image_tag "150x150.gif" %>
	</div>
</div>
