<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @repair.name %>
</p>

<p>
  <b>Email:</b>
  <%= @repair.email %>
</p>

<p>
  <b>Phone model:</b>
  <%= @repair.phone_model.name %>
</p>


<%= link_to 'Endre', edit_repair_path(@repair), class: "btn btn-small" %> |
<%= link_to 'Tilbake', repairs_path, class: "btn btn-small" %>
