<div id="sidebar">
	<div id="logo">
		<%=link_to "#{image_tag("fixitub-logo.png")}".html_safe, root_path %>
	</div>
	<br/>
	<div class="clear"></div>
	<ul>
		<li><%= link_to 'Reperasjoner ', repairs_path, :class => 'icon service' %></li>
		<li><%= link_to 'Spør vår tekniker', contact_path, :class => 'icon chat' %></li>
		<li><%= link_to 'Om oss', about_path, :class => 'icon login' %></li>
		<li><%= link_to 'Kontakt oss', dropline_path, :class => 'icon mail' %></li>
		
		<li></li>
	</ul>
	<div id="contact-logos">
		<p>Lik vår facebook side</p>
		<%=link_to "#{image_tag("fb-logo.png")}".html_safe, "http://www.facebook.com/FixItUB?fref=ts" %>
	</div>
</div>